<html>

<head>
  <title>My Project</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="icon" type="image/x-icon" href="https://www.filepicker.io/api/file/mWcP190oTCqiAo5VjrE8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/public/images/logo.png" alt="logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-o active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-o active fw-bold" aria-current="page" href="/add-project">Add Project</a>
          </li>
        </ul>

        <a href="/contact" class="btn bg-orange text-white px-3">Contact Me</a>
      </div>
    </div>
  </nav>

  <!-- Project -->
  <!-- Form -->

  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container-form">
      <h2 class="mb-5 fw-bold text-center my-3">ADD MY PROJECT</h2>
      <form action="/add-project" method="post">
        <div class="mb-3">
          <label for="inputProjectName" class="form-label fw-bold">Project Name</label>
          <input type="text" class="form-control border-success" id="inputProjectName" name="inputProjectName">
        </div>

        <div class="row">
          <div class="col Startdate mb-4">
            <label for="inputStartdate" class="form-label fw-bold">Start Date</label>
            <input type="date" class="form-control border-success" id="inputStartdate" name="inputStartdate"
              value="inputStartdate">
          </div>
          <div class="col Enddate mb-4">
            <label for="inputEnddate" class="form-label fw-bold">End Date</label>
            <input type="date" class="form-control border-success" id="inputEnddate" name="inputEnddate"
              value="inputEnddate">
          </div>
        </div>

        <div class="mb-3">
          <label for="inputDescription" class="form-label fw-bold">Description </label>
          <textarea class="form-control border-success" id="inputDescription" name="inputDescription"
            value="inputDescription" cols="30" rows="3"></textarea>
        </div>
        <div>
          <label class="mb-3 fw-bold" for="checkbox">Technologies</label>
          <div class="row">
            <div class="col">
              <input class="input-checkbox" type="checkbox" id="nodejs" name="nodejs" value="node-js">
              <label for="nodejs"> Node Js</label><br>
              <input class="input-checkbox" type="checkbox" id="react" name="react" value="react">
              <label for="react" style="margin-top:20px;"> React Js</label>
            </div>
            <div class="col">
              <input class="input-checkbox" type="checkbox" id="java" name="java" value="java">
              <label for="java"> Java</label><br>
              <input class="input-checkbox" type="checkbox" id="python" name="python" value="python">
              <label for="python" style="margin-top:20px;"> Python</label>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="inputImage" class="form-label fw-bold" style="margin-top:20px;">Upload Image</label>
          <input type="file" class="form-control border-success" id="inputImage" value="">
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn rounded-pill bg-orange text-white px-3" style="width:120px;">Submit</button>
        </div>
      </form>
    </div>

  </div>


</body>

</html>