<html>
  <head>
    <title>Dumbways Mobile App - 2022</title>
    <link rel="stylesheet" href="/public/css/myproject.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://www.filepicker.io/api/file/mWcP190oTCqiAo5VjrE8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/public/images/logo.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-o active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-o active" aria-current="page" href="/add-project">Add Project</a>
            </li>
          </ul>

          <a href="/contact" class="btn bg-orange text-white px-3">Contact</a>
        </div>
      </div>
  </nav>

    <!-- My Project -->
    <div class="project-detail">
      <h1>Dumbways Mobile App - 2022</h1>
      <div class="project-detail-header">
        <div class="image-detail">
        <img src="/public/images/img-card1.jpg" alt="detail"> 
        </div>
        <div class="detail-description">
         <p class="title-description"> Duration </p>
         <p class="icon-desc"> <i class="fa-solid fa-calendar-days"></i> 12 Jan 2021 - 11 Feb 2021 </p>
         <p class="icon-desc"> <i class="fa-solid fa-clock-rotate-left"></i> 1 month </p>
         
         <p class="title-description2"> Technologies </p>
         <div class="title-icon">
         <div class="icon1">
           <p class="icon-desc"> <i class="fa-brands fa-node-js"></i> Node Js </p>
           <p class="icon-desc"> <i class="fa-brands fa-react"></i> React Js </p>
          </div>
          <div class="icon2">
         <p class="icon-desc"> <i class="fa-brands fa-java"></i> Java </p>
         <p class="icon-desc"> <i class="fa-brands fa-python"></i> Python </p>
          </div>
        </div> 
      </div>
      </div>
       

        <div class="project-detail-container">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi alias obcaecati delectus, optio possimus officiis suscipit quod iste aliquam. Similique accusamus veritatis modi sapiente provident ipsam minima ut est nam dicta et excepturi vero, praesentium, autem, numquam magnam aliquid! Explicabo voluptates aperiam adipisci recusandae ipsum tenetur deserunt doloremque aspernatur voluptatibus neque pariatur, illum repellat vero fugiat reprehenderit assumenda beatae aliquid perspiciatis at. Obcaecati, earum iure! Corporis delectus ducimus maiores ut explicabo illo atque fugiat repellendus. Repellendus, distinctio optio maxime nihil quia ex quod dicta blanditiis sint deserunt consequatur iusto minima magnam dolore labore excepturi minus, laboriosam similique explicabo officiis quasi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi alias obcaecati delectus, optio possimus officiis suscipit quod iste aliquam. Similique accusamus veritatis modi sapiente provident ipsam minima ut est nam dicta et excepturi vero, praesentium, autem, numquam magnam aliquid! Explicabo voluptates aperiam adipisci recusandae ipsum tenetur deserunt doloremque aspernatur voluptatibus neque pariatur, illum repellat vero fugiat reprehenderit assumenda beatae aliquid perspiciatis at. Obcaecati, earum iure! Corporis delectus ducimus maiores ut explicabo illo atque fugiat repellendus. Repellendus, distinctio optio maxime nihil quia ex quod dicta blanditiis sint deserunt consequatur iusto minima magnam dolore labore excepturi minus, laboriosam similique explicabo officiis quasi.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ad ducimus officiis. Quas excepturi, hic tenetur nam quibusdam maiores possimus totam fugiat itaque ipsum earum beatae, mollitia, numquam suscipit cum?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum corporis optio ipsa! Quos nisi eos provident ea ipsa quod asperiores nobis, illum repudiandae cupiditate aut inventore cumque eius officiis illo non beatae dolorem. Fuga laborum cumque, corrupti incidunt est praesentium. Sunt explicabo nam vel facilis, magnam debitis accusantium iure sit?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, quidem laudantium. Nemo ad dolores veritatis accusamus non asperiores aspernatur deserunt ipsum quasi sapiente itaque assumenda, dolor dolorum earum quae tenetur totam sequi consequuntur dolorem. Eum reiciendis animi incidunt minus reprehenderit dicta, harum totam. Illo quisquam eos laboriosam ipsam iusto mollitia.
        </p>
      </div>
    </div>
  </body>
</html>
