<html>

<head>
    <title>Dumbways Mobile App - 2022</title>
    <link rel="stylesheet" href="/public/css/myproject.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://www.filepicker.io/api/file/mWcP190oTCqiAo5VjrE8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/public/images/logo.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-o active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-o active" aria-current="page" href="/add-project">Add Project</a>
                    </li>
                </ul>
                {{if .DataSession.IsLogin}}
                <a class="text-decoration-none text-black" href="#">Hallo, {{.DataSession.UserName}}</a>
                <a href="/logout" class="btn text-black mx-3">Logout</a>
                {{else}}
                <a href="/login" class="btn text-black mx-3">Login</a>
                {{end}}

                <a href="/contact" class="btn bg-orange text-white px-3">Contact Me</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="mb-5 fw-bold my-5 text-center">{{.Project.ProjectName}}</h1>
        <div class="row">
            <div class="col">
                <img src="/uploads/{{.Project.Image}}" style="width: 800px; height: 500px;" alt="image cover">
            </div>
            <div class="col">
                <h2 class="py-4" style="margin-left: 50px;">Duration</h2>
                <h3 class="icon-desc"> <i style="margin-left: 50px; margin-bottom: 30px;"
                        class="fa-solid fa-calendar-days fa-lg"></i> {{.Project.Date_StartDate}} -
                    {{.Project.Date_EndDate}} </h3>
                <h3 class="icon-desc"> <i style="margin-left: 50px;" class="fa-solid fa-clock-rotate-left fa-lg"></i>
                    {{.Project.Duration}} </h3>

                <h2 class="py-4" style="margin-left: 50px; margin-top: 50px;">Technologies</h2>

                <div class="row" style="margin-left: 40px;">
                    {{ range $index, $item := .Project.Techno }}
                    <div class="col">
                        {{ if eq $item "node-js" }}
                        <h3 class="icon-desc text-capitalize"> <i class="fa-brands fa-node-js fa-xl"></i> Node Js</h3>
                        {{ else if eq $item "react" }}
                        <h3 class="icon-desc text-capitalize"> <i class="fa-brands fa-react fa-xl"></i> React</h3>
                    </div>
                    <div class="col">
                        {{ else if eq $item "java" }}
                        <h3 class="icon-desc text-capitalize"> <i class="fa-brands fa-java fa-xl"></i> Java</h3>
                        {{ else if eq $item "python" }}
                        <h3 class="icon-desc text-capitalize"> <i class="fa-brands fa-python fa-xl"></i> Python</h3>
                    </div>
                    {{end}} 
                    {{end}}
                </div>

            </div>
        </div>
    </div>
    
    <div class="container my-5 fs-5" style="text-align: justify;">
        <h4>{{.Project.Description}}</h4>
    </div>
</body>

</html>