body {
  background-color: rgb(218, 231, 235) !important;
}

.text-orange {
  color: rgb(4, 4, 67) !important;
}

.bg-orange {
  background-color: rgb(4, 4, 67) !important;
}

form {
  margin: 0px auto;
  width: 350px;
  padding: 10px;
  /* background-color: red; */
}

.container-fluid {
  height: 86vh;
}